
<script>

(function main()
{

$.ajax
({
  type: "GET",
  url: "device",
  dataType: 'json',
  withCredentials : true,
  data: '{ "comment" }',
})
	.done(function(data)
	{
		$( "span.rts2_val" ).each(function(index)
		{
			var dev = $( this ).attr( "device" ); 
			var valname = $( this ).attr( "valname" );
			var type = $( this ).attr( "rts2type" );
			
			var good_data = false;
			if(dev in data)
			{
				if(valname in data[dev]["d"])
					var good_data = true;
			}

			if( good_data)
			{
				$("div#errmsg").text("");
				if(type == "bool")
				{
					$(this).text(data[dev]["d"][valname][1] ? "True" : "False" );
				}
				else if( type == "time" )
				{
					var d = new Date(data[dev]["d"][valname][1])
					var h = ("0"+d.getHours()).slice(-2);
					var m = ("0"+d.getMinutes()).slice(-2);
					var s = ("0"+d.getSeconds()).slice(-2);
					$(this).text(h+":"+m+":"+s)
					
				}
				else
				{
					$(this).text(data[dev]["d"][valname][1] );
				}
			}
			else
			{
				console.log("There was a problem in getting rts2 data");
				console.log(data);
				$("div#errmsg").text("Could not get device "+dev+", is RTS2 on?")
			}


		});

	})
	.fail(function(jqXHR, textStatus, errorThrown){
		console.log(jqXHR);
		console.log(textStatus);
		console.log(errorThrown);
	})
		.always( function() {setTimeout(main, 2000)} )
})();

function startup()
{
	$.ajax
	({
		type: "GET",
		  url: "queuestart",

	})
}

$("span.rts2_label").css("min-width","100px");
</script>


<span style="border:solid 1px white;padding:5px;display:inline-block">
	<h3>Important RTS2 Values</h3>
	<div class="val_row"> 
		<span class="rts2_label"> queue_only</span> 
		<span class="rts2_val" device="SEL" valname="queue_only" rts2type="bool"/>
	</div>
	<div class=val_row> 
		<span class="rts2_label"> focus </span>
		<span class="rts2_val" device="F0" valname="FOC_POS"/>
	</div>
	<div class=val_row> 
		<span class="rts2_label"> plan_queing </span>
		<span class="rts2_val" device="SEL" valname="plan_queing"/>
	</div>	
	<div class=val_row> 
		<span class="rts2_label"> auto_loop </span>
		<span class="rts2_val" device="EXEC" valname="auto_loop", rts2type="bool"/>
	</div>
	<div class=val_row> 
		<span class="rts2_label"> pec_state </span>
		<span class="rts2_val" device="BIG61" valname="pec_state"/>
	</div>
	<div class=val_row> 
		<span class="rts2_label"> flat_beginning  </span>
		<span class="rts2_val" device="SEL" valname="flat_beginning" rts2type="time" />
	</div>

	<div id="errmsg"></div>
		
	<button onclick="startup()" title="Click here to set queue_only etc" >Good Start</button>


</span>


<p style="padding:20px; font-weight:bold; font-size:20px" > <a href="lastimg">Download Last Image </a> </p>


